<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Qikify, a machine learning tool for semiconductor manufacturing</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link href="stylesheets/css/main.css" rel="stylesheet">
    <link rel="shortcut icon" href="images/favicon.ico">
  </head>

  <body>
    <div class="topbar">
      <div class="fill">
        <div class="container">
          <a class="brand" href="#">Qikify</a>
          <ul class="nav">
            <li class="active"><a href="#">&#x2302;</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="container" id="main">
      <!--<div class="row" id="controls">
        <div class="span16">
          <h2>Controls</h2>
          <p>Here we provide controls to load up and plot datasets.</p>
          <a class="btn primary" data-controls-modal="data-getter-modal" data-backdrop="static" >Get some data</a>
          <br />
          <br />
          <div id="data-getter-modal" class="modal hide fade">
            <div class="modal-header">
              <a href="#" class="close">&times;</a>
              <h3>Available Datasets</h3>
            </div>
            <div class="modal-body">
              <p id="lists"></p>
            </div>
            <div class="modal-footer">
              <a href="#" class="btn primary">Go</a>
            </div>
          </div>
        </div>
      </div>-->
      
      <div class="hero-unit">
      </div>

    </div> <!-- /container -->
	  
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />      
    <footer class="container">
      <p>&copy; Qikify 2011 - 2012</p>
    </footer>
    
	  <script src="/scripts/js/libs/jquery-1.7.1.min.js"></script>
	  <script src="/scripts/js/libs/raphael.js"></script>
	  <script src="/scripts/js/libs/g.raphael-min.js"></script>
	  <script src="/scripts/js/libs/g.bar-min.js"></script>
	  <script src="/scripts/js/libs/g.line-min.js"></script>	
	  <script src="/scripts/js/libs/socket.io/socket.io.min.js"></script>  
	  <script src="/scripts/js/libs/bootstrap-alerts.js"></script> 
	  <script src="/scripts/js/libs/bootstrap-modal.js"></script>
	  <script src="/scripts/js/sections.js"></script>
	  <script src="/scripts/js/graphics.js"></script>
	  <script src="/scripts/js/statistics.js"></script>
	  <script src="/scripts/js/main.js"></script>
  </body>
</html>
