<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Qikify, a machine learning tool for semiconductor manufacturing</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link href="stylesheets/css/main.css" rel="stylesheet">
    <link rel="shortcut icon" href="images/favicon.ico">
  </head>

  <body>

    <div class="topbar">
      <div class="fill">
        <div class="container">
          <a class="brand" href="#">Qikify</a>
          <ul class="nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#contact">Contact</a></li>
            <li><a href="#data-acquisition">Data Acquisition</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="container">

      <!-- Main hero unit for a primary marketing message or call to action -->
      <div class="hero-unit">
      </div>
      <section id="ate-sim">
        <div class="page-header">
          <h1>ATE Simulator <small>updates from the ATE simulator</small></h1>
        </div>
      <div class="row" id="controls">
        <div class="span16">
          <h2>Controls</h2>
          <p>Here we provide controls to load up and plot datasets.</p>
          <a class="btn primary" data-controls-modal="data-getter-modal" data-backdrop="static" >Get some data</a>
          <br />
          <br />
          <div id="data-getter-modal" class="modal hide fade">
            <div class="modal-header">
              <a href="#" class="close">&times;</a>
              <h3>Available Datasets</h3>
            </div>
            <div class="modal-body">
              <p id="lists"></p>
            </div>
            <div class="modal-footer">
              <a href="#" class="btn primary">Go</a>
            </div>
          </div>
        </div>
      </div>
      <div class="row" id="statistics">
        <div class="span16">
          <h2>Statistics</h2>
        </div>
      </div>
      </section>
      
      
      
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />      
      <footer>
        <p>&copy; Qikify 2011</p>
      </footer>

    </div> <!-- /container -->
	  
	  <script src="/scripts/js/libs/jquery-1.7.1.min.js"></script>
	  <script src="/scripts/js/libs/raphael.js"></script>
	  <script src="/scripts/js/libs/g.raphael-min.js"></script>
	  <script src="/scripts/js/libs/g.bar-min.js"></script>
	  <script src="/scripts/js/libs/g.line-min.js"></script>	
	  <script src="/scripts/js/libs/socket.io/socket.io.min.js"></script>  
	  <script src="/scripts/js/libs/bootstrap-alerts.js"></script> 
	  <script src="/scripts/js/libs/bootstrap-modal.js"></script>
	  <script src="/scripts/js/graphics.js"></script>
	  <script src="/scripts/js/main.js"></script>
  </body>
</html>
