html, body {margin: 0;padding: 0;width:100%;height:100%;}
h1, h2, h3 {margin: 0;padding: 0;}
a {text-decoration: none}
body {
	background-color: #000; 
	font-family:"HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", sans-serif;
	font-weight:100;
	font-size: 13px;
	color: #fff;
	overflow:hidden;
}

#header h1 { font-size: 20px; margin: 10px; }

#login { 
	margin: 200px auto;
	padding: 0 auto;
	width: 300px;
}
#loginLabel { clear:both; display: block; margin-bottom: 10px; }
#loginText {
  width: 100px;
  text-align: left;
  background-color: #444;
  padding: 6px;
  color: #fff;
  float: left;
}
#loginButton { margin-left: 10px; float: left;} 

#container { 
	width: 960px;
	margin: 0 auto;
	padding: 0 auto;
	text-align: center;
	background: #050505; 
}
#chats {
  width: 100%;
  height: 500px;
  text-align: left;
  list-style: none;
  padding: 0;
  overflow: hidden;
  overflow-y: auto;
}
#imchat {
  margin-top: 0;
  height: 30px;
  float: bottom;
  position: relative;
  bottom: 0px;
}
#im {
  width: 500px;
  text-align: left;
  background-color: #444;
  padding: 6px;
  color: #fff;
  float:left;
}

#submitButton {  margin-left: 10px; float: left; }

#runtask { position: absolute; top: 50px; right: 50px; }
.information { color: #00ff00;}